:root {
  --board-size: 35em;
  --square-size: calc(var(--board-size)/9);
  --number-size: 1em;
}

.App {
  text-align: center;
}

.board {
  border: 2px solid black;
  margin: auto;
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.medSquare {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  font-size: var(--number-size);
}

.square-input {
  margin: auto;
  width: calc(var(--square-size)*.9);
  height: calc(var(--square-size)*.9);
  border: none;
  box-sizing: border-box;
  font-size: var(--number-size);
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.square-notes {
  display: grid;
  width: 95%;
  height: 95%;
  grid-template-columns: repeat(3, 1fr)
}

.square-notes p {
  color: rgb(145, 145, 145);
  font-size: .8em;
  margin: 0.1em;
}

.hidden {
  visibility: hidden;
}

.number-select {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: absolute;
  /* transform: translate(20%, 50%); */
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.319);
  border-radius: 4px;
  box-shadow: 1px 2px 1px 1px rgba(102, 102, 155, 0.2);
}

.number-select button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  background: none;
  border: none;
}

.number-select button:hover {
  color: black;
  background-color:rgb(241, 241, 241);
  cursor: pointer;
}