:root {
  --board-size: 15em;
  --square-size: calc(var(--board-size)/9);
}

.App {
  text-align: center;
}

.board {
  border: 2px solid black;
  margin: auto;
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.medSquare {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  border: .5px solid grey;
  box-sizing: border-box;
  display: inline-block;
  height: var(--square-size);
  width: var(--square-size);
}

.square-input {
  margin: auto;
  width: calc(var(--square-size)*.9);
  height: calc(var(--square-size)*.9);
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }