:root {
  --board-size: 35rem;
  --square-size: calc(var(--board-size)/9);
  --number-size: calc(var(--square-size)*.7);
  --theme-light: rgb(236, 236, 254);
  --theme-color: rgb(195, 195, 251);
  --theme-dark: rgb(180, 180, 255);

}

.App {
  text-align: center;
  padding: .5rem;
  height: 100vh;
}

header {
  background-color: rgb(195, 195, 251);
  padding: 0.01em 0 .5em 0;
  width: calc(var(--board-size)*1.2);
  margin: auto;
  border-radius: .5rem .5rem 0 0;
}

h1 {
  margin-bottom: 0;
}

main {
  width: calc(var(--board-size)*1.2);
  margin: auto;
  background-color: var(--theme-light);
  padding-bottom: .5rem;
}

nav {
  display: flex;
  width: var(--board-size);
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

nav button {
  margin: 0 .5em;
  border: none;
  border-radius: 4px;
  background-color: var(--theme-color);
}

nav button:hover {
  cursor: pointer;
  background-color: var(--theme-dark);
}

.board {
  border: 2px solid black;
  margin: auto;
  height: var(--board-size);
  width: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.medSquare {
  outline: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid grey;
  box-sizing: border-box;
  height: var(--square-size);
  width: var(--square-size);
  font-size: var(--number-size);
}

/* .square:hover {
  cursor: pointer;
  background-color: var(--theme-light);
} */

/* .square p {
  margin: 0;
  padding: 0;
} */

.square-input {
  margin: auto;
  width: calc(var(--square-size)*.9);
  height: calc(var(--square-size)*.9);
  border: none;
  box-sizing: border-box;
  font-size: var(--number-size);
  text-align: center;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.static-square {
  font-weight: 400;
}

.dynamic-square {
  font-weight: 200;
}

.square-notes {
  display: grid;
  width: 95%;
  height: 95%;
  grid-template-columns: repeat(3, 1fr)
}

.square-notes p {
  color: rgb(145, 145, 145);
  font-size: calc(var(--number-size)/3.5);
  margin: 0.1em;
}

.hidden {
  visibility: hidden;
}

.number-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  /* transform: translate(20%, 50%); */
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.319);
  border-radius: 4px;
  box-shadow: 1px 2px 1px 1px rgba(102, 102, 155, 0.2);
}

.number-select button {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  background: none;
  border: none;
}

.number-select button:hover {
  color: black;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.status-board {
  display: flex;
  justify-content: space-around;
  width: var(--board-size);
  margin: 1em auto;
}

.status-board p {
  font-size: 3em;
  margin: 0
}

.status-board-button {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: .2rem 1rem;
}

.status-board-button:hover {
  cursor: pointer;
  background-color: var(--theme-color);
}

.footer {
  background-color: rgb(195, 195, 251);
  width: calc(var(--board-size)*1.2);
  margin: auto;
  padding: .5em 0 .01em 0 ;
  border-radius: 0 0 .5rem .5rem;
}